body {
  font-family: Arial, sans-serif;
  background-color: #fffaf0; 
  color: #444;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #ffdab9; 
  text-align: center;
  padding: 20px;
}

h1 {
  color: #d2691e; 
}

p {
  color: #555;
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #ffebcd; 
  text-align: center;
}

#about {
  background-color: #ffccd5; 
}

#projects {
  background-color: #c8e6c9; 
}

#contact {
  background-color: #fff3cd;
}

a {
  color: #ff6f61;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #ffdab9;
  text-align: center;
  padding: 10px;
}
